*{
    margin: 0;
    padding: 0;
}
body{
   font-family:  Helvetica, sans-serif;
   display: flex;
   background-color: #F0F2F5;
   
}
.logo{
    text-align: left;
    width: 100%;
}
.logo img {
    width: 250px;
}
.main{
    margin: 0 auto;
    height: 80vh;
    width: 60%;
    height: 400px;
    padding-top: 150px;

}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-container {
    width: 30%;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px grey;
}
.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-item {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}
.input-item input {
    width: 100%;
    padding: 12px 5px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1.5px grey;
    font-size: 15px;
    text-transform: capitalize;
}
.login-btn {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}
.login-btn button {
    padding: 12px 20px;
    width: 100%;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 1px black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    background-color: #1877F2;
}
.forgotten-create-btn {
    width: 100%;
    text-align: center;
}
.forgot-btn {
    text-decoration: none;
    color: rgb(28, 51, 164);
    margin: 15px 0px;
}
.forgot-btn:hover {
    text-decoration: underline;
}
.create-account-btn {
    margin: 10px 0px;
    padding: 12px 18px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: rgb(56, 207, 56);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.create-account-btn:hover {
    background-color: rgb(24, 171, 24);
}
.create-account-btn:active {
    box-shadow: 0px 0px 2px black;
}
.main-left-text {
    width: 100%;
}

.main-left-text p {
    font-size: 18pt;
}
